.tileLayout {
	float: left;
}

.glwLaunchpadTileContainer {
	max-width: 800px;
	display: block;
}

.glwImageTile .sapMTileCnt {
	background-color:rgba(255, 255, 255, 0.8);
}

.glwImageTile.glwTextBright .sapMTextMaxLine {
	color: #FFF;
}

.glwImageTile.glwTextBright .sapMGTSubHdrTxt {
	color: #EEE;
}